<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Recarga</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Recarga</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>


 <!--    <div ng-controller="pruebaCtrl">
      <p>
        <button ng-click="changeData()">Change data</button>
      </p>
      <table datatable 
      dt-options="dtOptions" 
      dt-columns="dtColumns" 
      dt-instance="dtInstance">
      </table>
    </div>   -->
    
    <div >
    <button ng-click="dtInstance.changeData(newSource)">
     Reload data
    </button>
    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance">
    </table>
    </div>