<div class="row wrapper border-bottom white-bg page-heading"  >
    <div class="col-lg-10">
        <h2>Mantenedor Sac Rubro Zhs</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Data Tables</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<hr>
<uib-tabset>
    <uib-tab >
        <div class="container" >
            <div class="row">
                <div class="col-sm-11"  style="background-color: white; padding: 10px">      
                    <div text-align="right" style="text-align:right; padding-bottom:10px;">
                       <td>Agregar Sac Rubro Zhs</td>  &nbsp;
                        <a class="btn btn-primary" ui-sref="index.sacrubrozhsAgregar">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                    <div class="">
                    </div>
                    <div> 
                    <br>
                        <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="row-border hover pointer" dt-instance="dtInstance" width="100%"></table>
                    </div> 
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
<hr>
<hr>


